{% extends 'base.html' %}

{% block main %}
<div class="row" >
   <div class="col-sm" >

   <h5>Seja bem vindo</h5>

</div>
<div class="col-sm">
   <h6>Olá, {{ usuario.funcionario.nome }}.</h6>  
   <a href="{% url 'list_funcionarios' %}">Gerenciar funcionarios</a>   
</div>
<div class="col-sm">

      {% if usuario.funcionario.empresa %}
         <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar empresa</a>
      {% else %}
         <a href="{% url 'create_empresa' %}">Criar empresa</a>
      {%endif%}
   <h6><a href="{% url 'logout' %}">Sair</a></h6>
</div>
</div>
{% endblock %}